<a href="https://colab.research.google.com/github/jwdagney55/DSPS_JDagney/blob/main/HW3/HW3_KS_earthquakes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Created by FedericaBBianco @fedhere for DSPS/MLNPS
# Kolmogorov Smirnoff test, application to earthquake data

In [182]:
#all the imports I needed
from __future__ import print_function, division
import pandas as pd
import pylab as pl
import scipy as sp
from scipy import stats
%pylab inline
#pl.style.use("https://raw.githubusercontent.com/fedhere/DSPS/master/fbb.mplstyle")

Populating the interactive namespace from numpy and matplotlib

/usr/local/lib/python3.7/dist-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['time']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

This homework asks you to reproduce the work in [Corral 2018](https://arxiv.org/pdf/0910.0055.pdf) which is well described, but not "reproducible". 
Corral 2018 uses a K-S test to show that at different magnitude scales the time gaps between earthquakes follows the same distribution. If true, this indicates that there is a consistent scaling law. 

The argument is a little convoluted, but it is a somewhat innovative use of the test. Corall compares the time gap between earthquakes  greater than a certain magnitude threshold with the time gaps between earthquakes above a different threshold, and finds no differences.

Remind yourself exactly what the K-S test is about :

    1 What is the test's Null Hypothsis that the K-S test tests?

That sample a and sample b belong to the same parent distribution.

    2 What is the "statistic" or "pivotal quantity" that the test uses?

The max distance between the two distributions cumulative curves.

    3 What does the probability distribution of this statistic depend on?

???your answer here...

# Data Retrival

The first reason why the paper is not techincally _reproducible_ is that, while a link is provided to retrieve the data, the link is dead. This happens often. Services like [Zenodo](https://zenodo.org/) or journals that serve data provide some insurance against this but unfortunately the standards are not strict.

You can retrieve the data yourself from [this website](http://service.scedc.caltech.edu/eq-catalogs/poly.php). Think about what setting up data like this means for reproducibility. Did the author comply to reproducibility standards?__ Make sure the number of entries in your final dataset is similar to that of the authors. I got 70798, instead of 77000. 10% off, which I deem close enough. You should get something similar. Use the map in the paper to determine the region of interest. Call the file earthquakes_\<firstinitialLastname\>.csv and upload it to your github repository. Read it your file, instead of mine as instructed below. If you are getting weird results compare to what I got, go back and check how the files differ.

# Data Ingestion

## read in data

I saved the data in a file called "earthquakes.csv", where ```csv``` stands for "comma separated file". [This file format](https://www.howtogeek.com/348960/what-is-a-csv-file-and-how-do-i-open-it/) requires different entries in a row to be separated by commas alone (no space) and for commas to be used in quote if they are not intended to separate entries. 

```
a,b,c
d,e,f
g,"h,2",i
```
The data is uploaded on the  github homework repository but to read it in you will need to get the link to the *raw file*: the link to the file earthquakes.csv which is in my GitHub repository https://github.com/fedhere/MLPNS2021/tree/main/HW2_NHRT takes you to an ```html``` page that includes the content of the file, but you want to isolate the content of the file itself: the _raw file_. Pay attention to this: from the next time I will not give you the exact link, I will just point you to the file and you will have to find the link to the raw data from there. (remember to use the "raw" link)

The data can be read effectively using the _pandas_ python package as ```pandas.read_csv(<file name or URL>)```. 

However, I did not format the data correctly, according to the csv extension requirement. This happens all the time. Look at the file and use the pandas documentation to figure out how to read it with ```pd.read_csv()```

In [183]:
#your code here...
eqdata = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS_FBianco/master/HW3/earthquakes.csv", sep=' ')

running the following lines of code should give you the same result as mine if you used the file I provided (467 students), and qualitatively  similar if you are using your own data (667 students)

In [184]:
eqdata.shape

(70798, 34)

In [185]:
eqdata.head()

   #YYY/MM/DD  HH:mm:SS.ss  ET  GT  ... Unnamed: 30  Unnamed: 31 NPH  NGRM
0  1984/01/01  01:30:57.52  eq NaN  ...         NaN          NaN NaN   NaN
1  1984/01/01  05:31:34.16  eq NaN  ...         NaN          NaN NaN   NaN
2  1984/01/01  06:59:05.14  eq NaN  ...         NaN          NaN NaN   NaN
3  1984/01/01  11:10:25.29  eq NaN  ...         NaN          NaN NaN   NaN
4  1984/01/01  19:38:19.79  eq NaN  ...         NaN          NaN NaN   NaN

[5 rows x 34 columns]

In [186]:
eqdata.describe()

        GT    Unnamed: 5  Unnamed: 7  ...  Unnamed: 31  NPH  NGRM
count  0.0  70798.000000         0.0  ...          0.0  0.0   0.0
mean   NaN      2.417826         NaN  ...          NaN  NaN   NaN
std    NaN      0.407683         NaN  ...          NaN  NaN   NaN
min    NaN      2.000000         NaN  ...          NaN  NaN   NaN
25%    NaN      2.120000         NaN  ...          NaN  NaN   NaN
50%    NaN      2.300000         NaN  ...          NaN  NaN   NaN
75%    NaN      2.590000         NaN  ...          NaN  NaN   NaN
max    NaN      7.100000         NaN  ...          NaN  NaN   NaN

[8 rows x 27 columns]

now that you have a dataframe object you can use methods of the object to modify it. Use the method ```eqdata.rename``` to change the names of the 3 columns that are the only three relevant to us: _date, time, magnitude_

## prepare date-time column

In [187]:
# your code here...
myData = eqdata[["#YYY/MM/DD",'HH:mm:SS.ss', 'Unnamed: 5']].rename({"#YYY/MM/DD":"date",'HH:mm:SS.ss':"time", 'Unnamed: 5':"magnitude"},axis=1)

In [188]:
myData.head()

         date         time  magnitude
0  1984/01/01  01:30:57.52       2.02
1  1984/01/01  05:31:34.16       2.12
2  1984/01/01  06:59:05.14       2.43
3  1984/01/01  11:10:25.29       2.07
4  1984/01/01  19:38:19.79       2.13

In [189]:
myData.describe()

          magnitude
count  70798.000000
mean       2.417826
std        0.407683
min        2.000000
25%        2.120000
50%        2.300000
75%        2.590000
max        7.100000

Now you want to combine the columns containing date and time and convert them to a "datetime" kind of data object.

What data type are the _time_ and _date_ columns right now? What type you want them to be to conver them to datetime with ```pd.datetime()```? type 'O' means object, typically a string.

In [190]:
myData.time.dtype, myData.date.dtype

(dtype('O'), dtype('O'))

to do this conversion I 

   1. joined date and time into a single string for each row with a ["list comprehension"](https://www.pythonforbeginners.com/basics/list-comprehensions-in-python) (essentially a for loop but more efficient and compact). You do not have to do it with a list comprehension, you can use just a for loop.

   2. used pd.datetime() to convert the resulting new dataframe column into a dataframe column containing _datetime_ objects (see lab)

   3. but this did not work because of the formatting of some dates, so I had to go back and fix 5 entries. (you are on your own to figure out this one)

In [191]:
# your code here
myData["datetime"] = [ myData.iloc[i].date + " " + myData.iloc[i].time for i in range(myData.shape[0]) ]
myData["datetime"] = myData["datetime"].str.replace("60.00", "59.99")

In [192]:
myData["datetime"] = [ pd.to_datetime(myData.iloc[i].datetime) for i in range(myData.shape[0]) ]

In [193]:
myData.head()

         date         time  magnitude                datetime
0  1984/01/01  01:30:57.52       2.02 1984-01-01 01:30:57.520
1  1984/01/01  05:31:34.16       2.12 1984-01-01 05:31:34.160
2  1984/01/01  06:59:05.14       2.43 1984-01-01 06:59:05.140
3  1984/01/01  11:10:25.29       2.07 1984-01-01 11:10:25.290
4  1984/01/01  19:38:19.79       2.13 1984-01-01 19:38:19.790

## select valuable data

Following the description in Section 2  of Corral 2018 I removed all data that did not belong to a "stationary" period. Third paragraph section 2 of Corral 2018. You can see the cell of code I used to do this [here](https://github.com/fedhere/DSPS/blob/master/HW3/Corral2018_selectStationary.py) at no points cost, cause it was a bit tricky, but I encourage you to try and do it yourself. If you can do it in fewer lines than I did its automatically +5 points (just turning the loop into a list comprehension does not count. That is an obvious way to decrease the number of lines of code; I did not do it simply to enhance readability.)

In [194]:
# your code here
ss = []

for t in [(1984, 1986.5),
          (1990.3, 1992.1),
          (1994.6, 1995.6),
          (1996.1,1996.5),
          (1997,1997.6),
          (1997.75,1998.15),
          (1998.25,1999.35),
          (2000.55,2000.8),
          (2000.9 ,2001.25),
          (2001.6 ,2002),
          (2002.5 ,2003)]:

    # for each pair I convert the year to datetime (easy)
    # then I convert the fraction of year and convert it to days and convert that to a delta-time
    # finally I add that deltatime to the year datetime.
    ss.append((pd.to_datetime(int(t[0]), format="%Y")
        + pd.Timedelta('%.f days'%((t[0] - int(t[0])) * 365.25)),
               pd.to_datetime(int(t[1]), format="%Y")
        + pd.Timedelta('%.f days'%((t[1] - int(t[1])) * 365.25))))

In [195]:
type(ss[0][0])

pandas._libs.tslibs.timestamps.Timestamp

In [196]:
print ("the {} timestamp pairs that are the boundaries of good data periods are:".format(len(ss)))

the 11 timestamp pairs that are the boundaries of good data periods are:

The following cell of code shows you the array of bool values (True/False) which I create to use as an index to the input array: when used as an index, a technique called "broadcasting" in python, will select only elements of the original array where the index array value is True. something like 
Try:

In [197]:
a = np.array([0, 1, 2])
a, a[[True, False, True]]

(array([0, 1, 2]), array([0, 2]))

For each of the 11 valid periods I create a condition 
``` datetime >= period_start AND datetime <= period_end ``` where AND is a product of booleans: True * False = False.

I want to take all chinks of data that satisfy this condition for any of the 11 chunks of time so that is a logical OR operator, or a sum of Booleans: True + False = True 

This is because ```True``` really corresponds to "not 0" and False to "0". So ```"not 0" * 0 = 0``` and ```"not 0" + 0 = not 0```

In [198]:
# your code here
gooddates = np.array([],dtype=bool)

time = myData.datetime[0]
print(time > ss[0][0])
print(time,ss[0][0])
for i in range(myData.shape[0]):
  if(i%10000 == 0):
    print(gooddates)
  time = myData.datetime[i]
  if(time >= ss[0][0] and time <= ss[0][1] or
     time >= ss[1][0] and time <= ss[1][1] or
     time >= ss[2][0] and time <= ss[2][1] or
     time >= ss[3][0] and time <= ss[3][1] or
     time >= ss[4][0] and time <= ss[4][1] or
     time >= ss[5][0] and time <= ss[5][1] or
     time >= ss[6][0] and time <= ss[6][1] or
     time >= ss[7][0] and time <= ss[7][1] or
     time >= ss[8][0] and time <= ss[8][1] or 
     time >= ss[9][0] and time <= ss[9][1] or
     time >= ss[10][0] and time <= ss[10][1]):
    gooddates = np.append(gooddates, True)
    
  else:
      gooddates = np.append(gooddates, False)

True
1984-01-01 01:30:57.520000 1984-01-01 00:00:00
[]
[ True  True  True ... False False False]
[ True  True  True ... False False False]
[ True  True  True ... False False False]
[ True  True  True ... False False False]
[ True  True  True ...  True  True  True]
[ True  True  True ... False False False]
[ True  True  True ... False False False]

In [199]:
print ("there are {} earthquakes falling in the selected stationary periods".
       format(gooddates.sum()))

there are 18852 earthquakes falling in the selected stationary periods

This is off from the given value of 19911 by a little over 1000 earthquakes. This leaves us with just under 95% of the rest of the earthquakes. While this is not a trivial amount, I do not expect the loss of 5% of earthquakes to have a significant effect on the statistical analysis

In [200]:
myGoodData = myData[["date", "time", "magnitude", "datetime"]][gooddates]

In [201]:
myGoodData.shape

(18852, 4)

In [202]:
myGoodData.head()

         date         time  magnitude                datetime
0  1984/01/01  01:30:57.52       2.02 1984-01-01 01:30:57.520
1  1984/01/01  05:31:34.16       2.12 1984-01-01 05:31:34.160
2  1984/01/01  06:59:05.14       2.43 1984-01-01 06:59:05.140
3  1984/01/01  11:10:25.29       2.07 1984-01-01 11:10:25.290
4  1984/01/01  19:38:19.79       2.13 1984-01-01 19:38:19.790

Now what you really want is the _time interval between earthquakes_ for all events greater than some magnitude m, while all you have are the date and time of the events.: 

You can remove earthquakes smaller than magnitude 2 by, again, broadcasting. How would that look like?

In [203]:
# your code here

In [204]:
eqGoodData.shape #look like for my data it was not needed! that is because I chose M>2 when when I downloaded the data

NameError: ignored

You can get the time between consecutive earthquakes with the method ```diff()``` of numpy arrays (in a pandas series you can get the data as a numpy array with the attribute .values: ```seried.values```).

In [ ]:
#your code here

In [ ]:
eqGoodData.shape

In [ ]:
eqGoodData.head()

In [ ]:
eqGoodData.describe()

Note that the first entry will be NaT which is Not a Time (corresponding to nan for numerical variables) or maybe a negative number (depends on your exact operations above). You should remove it

In [ ]:
# your code here

In [ ]:
eqGoodData.head()

# data exploration
At this point you should wonder if this is the final dataset that you want to use and if anything is weird or suspicious about it. Visualize the distribution. A good way to visualize distributions is a histogram which you can prodice with pl.hist() or as a method of your dataframe series as ```df[SeriesName].plot(kind="hist")```. Produce a plot like the one below (label the axis! and describe it with a caption!). To get the logarithmic y axis you can se ```logy=True```, for example. in your ```df[SeriesName].plot``` call.

The thing that worries me is that by removing some sections of the data to use only stationary periods we created some artificially large gaps: gaps of order ~month. How many nanoseconds in a month? remove all gaps that are larger than about a month and see how the distribution looks (make another histogram).

In [ ]:
# your code here

# data analysis

### important: the paper does not do it but I want you to formally choose a threshold before you do this test. Choose a p-value (=$\alpha$ thresold: call your variable ```alpha```) of 3-$\sigma$.

Follow the instructions (algorithm) in **Section 3 paragraph 3** and compare your results with the results in table 1 with a threshold  of = 0.01 and 0.001

Do it for all 5 magnitude thresholds as indicated in the paper (and in Table 1).

Note that the x axis in plot Fig 1 is in _log space_. Use ```np.log10()``` to take the logarithm of the time gaps.

The pseudocode for the algorithm is [here](https://github.com/fedhere/DSPS/blob/master/HW3/Corral2018_pseudocode.md).

Reproduce the paper Fig 1 and Table 1. In the Table report the size of each dataset after cleaning the value of the statistic and the p-value, as done in Corral 2018. Use the scipy function for the 2 sample KS test. (resources [here](https://colab.research.google.com/notebooks/markdown_guide.ipynb#scrollTo=70pYkR9LiOV0) to learn about the table syntax in markdown)

In [ ]:
# your code here

your table here

Did you find any statistical significant differences between the distributions? What does it mean? Is your result identical to Correll's 2018? Why or why not? **Discuss!**

### "extra credits"

**How could you _force_ a significant result?**
Organize your result for different magnitude threshold in a numpy array (it should be a 5x5 array) for both cutoffs (0.01 and 0.001). Each of these arrays should contain the p-value for the pair of distributions i,j in cell \[i\]\[j\] and \[j\]\[i\]. Use ```imshow``` to visualize this 2D data. FIrst visualize the matrix itself as done below.

In [ ]:
# your code here
        
pl.imshow((ks_001));
pl.axis('off')
cb = pl.colorbar()
cb.ax.set_ylabel(r'$p$-value')
pl.title("KS test results");
#add a caption


Now visualize the result as a matrix where the cells are white if the results is not statistically significant and red otherwise. 
After doing it fot the set alpha threshold, lower your alpha threshold so that at least one pair of distribution has a statistically significant difference. **Warning!! this is an _unethical and horrifying practice_! Once you chose your significance threshold you are never allowed to change it! Why? Discuss**

Redoing it for threshold 0001